/* Adam START SPRINT 5: */

.maincontainer {
    position: absolute;
    height: 300px;
    width: 200px;
    top: 5px;
    left: calc(50% - 100px);
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ec8b8b;
    color: #333;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #000000;
    color: rgb(240, 255, 253);
    font-family: "zilla slab", sans-serif;
    font-size: 12px;
    /* font-weight: bold; */
    transform: rotateY(180deg);
    padding: 10px;
    text-align: justify;
    font-weight: 200;
}

.thecard:hover {
    transform: rotateY(180deg);
}

/* Adam KONIEC SPRINT 5: */

/* Magda sprint 6 ikonka rezerwacji  */
.theback {
    position: relative;
}

button.zarezerwuj {
    position: fixed;
    bottom: 10px;
    left: calc(50% - 100px);
    width: 200px;
    font-size: 12px;
    font-weight: 200;
    color: rgb(240, 255, 253);
    background-color: #0000005a;
    transition: 0.2s;
}

button.zarezerwuj:hover {
    border-bottom: 1px solid rgb(240, 255, 253);
    letter-spacing: 3px;
    background-color: #00000098;
    font-weight: 600;
}



