@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollport::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollport {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.scrollport {
	margin-top: calc((100vh - 560px) / 2);
	overflow-x: auto;
	overscroll-behavior-x: contain;
	background-color: #383416;
	display: flex;
	align-items: start;
	padding: 80px 40px;
	height: 560px;
	max-height: 560px;
}

.scrollport>div {
	block-size: 400px;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
}

/* Wysuwanie się gwiazdek po podknięciu diva */
div {
	position: relative;
}

div .stars {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 135px);
	transform: translateY(40px);
	transition: 0.7s;
	opacity: 0;
}

div:hover .stars {
	transform: translateY(0px);
	opacity: 1;
}

div.stars {
	width: 270px;
	display: inline-block;
}

input.star {
	display: none;
}

label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all 0.2s;
}

input.star:checked~label.star:before {
	content: "\f005";
	color: #fd4;
	transition: all 0.25s;
}

input.star-1:checked~label.star:before {
	color: #f23005;
	text-shadow: 0 0 20px #f2310558;
}

input.star-2:checked~label.star:before {
	color: #f27405;
	text-shadow: 0 0 20px #f274055b;
}

input.star-3:checked~label.star:before {
	color: #f2b705;
	text-shadow: 0 0 20px #f2b70563;
}

input.star-4:checked~label.star:before {
	color: #b9bf04;
	text-shadow: 0 0 20px #b9bf045d;
}

input.star-5:checked~label.star:before {
	color: #52bf04;
	text-shadow: 0 0 20px rgba(102, 184, 20, 0.661);
}

label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}

label.star:before {
	content: "\f006";
	font-family: FontAwesome;
}

/* Adam START SPRINT 5: */

.maincontainer {
	position: absolute;
	height: 300px;
	width: 200px;
	top: 5px;
	left: calc(50% - 100px);
}

.thecard {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.8s ease;
}

.thefront {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #ec8b8b;
	color: #333;
}

.theback {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #000000;
	color: rgb(240, 255, 253);
	font-family: "zilla slab", sans-serif;
	font-size: 12px;
	/* font-weight: bold; */
	transform: rotateY(180deg);
	padding: 10px;
	text-align: justify;
}

.thecard:hover {
	transform: rotateY(180deg);
}

/* Adam KONIEC SPRINT 5: */

/* Magda sprint 6 ikonka rezerwacji  */
.theback {
	position: relative;
}

button.zarezerwuj {
	position: fixed;
	bottom: 10px;
	left: calc(50% - 100px);
	width: 200px;
	font-size: 12px;
	font-weight: 200;
	color: rgb(240, 255, 253);
	background-color: #0000005a;
	transition: 0.2s;
}

button.zarezerwuj:hover {
	border-bottom: 1px solid rgb(240, 255, 253);
	letter-spacing: 3px;
	background-color: #00000098;
	font-weight: 600;
}